<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studioborges.freecalc2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_freelancecalc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeActivity" />
        <activity android:name=".DaysActivity" />
        <activity android:name=".IncomeActivity" />
        <activity android:name=".OutcomeActivity" />
        <activity android:name=".ResultActivity"></activity>
    </application>

</manifest>